/* CSS for Login Component */
.login-form {
  max-width: 400px;
  margin: 50px auto 0; /* Added margin-top of 50px */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f922;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form button[type="submit"],
.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  background-color: #e82e6c9e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover,
.login-form button:hover {
  background-color: #edbbe9;
}

.login-form .error {
  color: #dc3545;
  margin-top: 10px;
}


/*Animate*/

/* Keyframes for left-to-right animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* Transition to opacity 1 */
  }
}

/* Apply fade-in animation to all elements */
* {
  animation: fadeIn 0.7s ease-in-out; /* Apply the fadeIn animation with a duration of 1.2s */
}
