.car-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Each car takes up half of the available width */
    gap: 20px; /* Adjust the gap between cars */
}

.car-item {
    border: 1px solid #ccc; /* Add border for each car item */
    padding: 20px; /* Add padding to separate car information */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.car-image {
    width: 50%; /* Set the width to 100% to make the image responsive */
    max-height: auto; /* Adjust the maximum height of the image */
}

.map-container {
    height: 300px; /* Adjust the height of the map */
    margin-top: 20px; /* Adjust the margin between cars and map */
}
.content-wrapper {
    margin-top: 40px; /* Adjust the top margin as needed */
}
