/* ContactCSS.css */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  font-weight: bold;
  color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #4CAF50;
}




.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}
